## Sets

In [1]:
#Sets
#1. can only have unique values
#2. empty set can be defined as s = set()
#3. a list can be converted into set to fetch unique values that are present in list
#4. element in the set are sorted in ascending order

In [2]:
s = {}

In [3]:
type(s)

dict

In [4]:
#Create an empty set

In [5]:
s = set()

In [6]:
type(s)

set

In [7]:
l = [1,1,11,1,2,2,2,3,3,3,4]

In [8]:
x = set(l)

In [9]:
type(x)

set

In [10]:
x

{1, 2, 3, 4, 11}

In [11]:
#Adding an element to set
x.add(20)

In [12]:
x

{1, 2, 3, 4, 11, 20}

In [13]:
myset = {1,2,3}

In [14]:
myset

{1, 2, 3}

In [15]:
type(myset)

set

In [16]:
str_list = ['python','hello','today','I','session']

In [17]:
str_set = set(str_list)

In [18]:
str_set

{'I', 'hello', 'python', 'session', 'today'}