# Python Statements

## 2. for loop

In [1]:
#for loop -> iterates through list for the number of time equals to the number of elements in list

In [2]:
l = [1,2,3,4,5]

In [3]:
for i in l:
    print(i)
    print('hello')

1
hello
2
hello
3
hello
4
hello
5
hello

In [4]:
#Print numbers if modulus is 0 in a list of numbers

In [7]:
num = int(input('Please enter a number: '))

Please enter a number: 40

In [8]:
if (num%2)==0:
    print(num)
else:
    print('invalid input')

40

In [9]:
l = [1,2,3,4,5]

In [10]:
for each in l:
    if each%2 ==0:
        print(each)

2
4

In [11]:
#Sum of numbers in list
#NOTE: don't use sum as variable here onwords

In [12]:
l = [1,2,3,4,5]

In [13]:
sum = 0
for num in l:
    sum = sum + num
print('summation: ',sum)

summation:  15

In [14]:
#For loop on a string

In [15]:
s = 'hello python world'

In [16]:
for i in s:
    print(i)

h
e
l
l
o

p
y
t
h
o
n

w
o
r
l
d

In [17]:
#For loop on dictionary

In [18]:
d = {'k1': 10, 'k2':15}

In [19]:
for i in d:
    print(i)
#OR
# for i in d.keys():
#     print(i)

k1
k2

In [20]:
for i in d.values():
    print(i)

10
15

In [21]:
d.keys()

dict_keys(['k1', 'k2'])

In [22]:
d.values()

dict_values([10, 15])

In [23]:
#List of n or 100 numbers

In [24]:
l = []
for i in range(1, 21):
    l.append(i)

In [25]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [26]:
#List of even numbers from 1 to 20

In [27]:
even_list = []

for i in range(1,21):
    if i%2 == 0:
        even_list.append(i)

In [28]:
even_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [29]:
#Square of odd numbers between 1,30

In [30]:
sq_list = []
for i in range(1,31):
    if i%2 != 0:
        sq_list.append(i*i)

In [31]:
sq_list

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841]

In [32]:
#List Comprehension

In [33]:
#Python way for list of n numbers

In [34]:
l1 = [i for i in range(1,21)]

In [35]:
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
#Python way for list of even numbers

In [37]:
l2 = [i for i in range(1,21) if i%2 == 0]

In [38]:
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
#Python way for list of squares of odd numbers

In [40]:
l3 = [i*i for i in range(1,31) if i%2 != 0]

In [41]:
l3

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841]